@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Monoton:wght@200;300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  body {
    background: #808eeb;
  }
  .App{
    width: 500px;
    background: #282851;
    padding: 1rem;
    margin: 3rem auto;
    border-radius: 5px;
  }
  .inputField{
    width: 100%;
    padding: 5px 1rem;
    background: #3e3e5a;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .inputField input {
    background: transparent;
    padding: 10px;
    color: rgb(161, 160, 160);
    font-size: 1rem;
  }
  .inputField input::placeholder {
    color: rgb(161, 160, 160);
  }
  .addBtn {
    background: #3d79b1;
    color: #fff;
    font-size: 2rem;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s;
  }
.addBtn:hover {
    transform: rotate(90deg);
}
.wrap{
    display: flex;
    gap: 10px;
    margin-top: 5px;
    justify-content: space-between;
} 

.header{
    text-align: center;
    font-family: 'Monoton';
    color: rgb(161, 160, 160);
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 400;
    word-spacing: 5px;
    letter-spacing: 5px;
    padding: 2.4rem 0;
    background: #282851;
    width: 400px;
    padding: 1rem;
    margin: 3rem auto;
    border-radius: 5px;
}
.todoList{
    margin-top: 2rem;
}
.inputOnChange{
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #3e3e5a;
    width: 100%;
    padding: 10px;
}
.buttons{
    display: flex;
    gap: 10px;
}
.editButtons{
    background-color: #3d79b1;
    border-radius: 7px;
    color:#282851;
    font-weight: bold;
    height: 40px;
    width: 40px;
    font-size: 10px;
    cursor: pointer;
}
.close{
  color: gray;
  text-decoration: line-through;
}
.filterButtons{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.filterButton{
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 10px;
}